*{
padding: 0;
margin: 0;
box-sizing: border-box;
}


 body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.row{
  background-color: white;
  border-radius: 30px;
}

#loginpic{
  border-radius: 30px;
}

